.outer-container {
    padding: 20px;
}

#clear-button {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    margin-left: 50px;
}

.container {
    display: grid;
    border: solid 5px black;
}

