.outer-container {
    padding: 20px;

}

#clear-button {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    margin-left: 50px;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    border: solid 5px black;
    margin-right: 500px;
    margin-left: 50px;
}

